@import '../../styles/mixins';

.assetsBar{
padding: 2rem;
@include flexAlignment(row, center, flex-start);
@include size(98%);
min-height: 90vh;
background-color: white;
.tree{
    @include flexAlignment(column, flex-start, flex-start);
    gap: 0.5rem;

    @include size(100%, 100%);
}
.table{
    @include size(100%, 100%);
}
}
