@import '../../styles/mixins';

.assetsBar {
    display: flex;
    flex-direction: row;
    padding: 16px;
    background-color: #f8f9fc;
    gap: 20px;
    width: 100%;
    min-height: 90vh;

    .tree {
        flex-basis: 30%;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        color: #343a40;
        overflow-y: auto;
    }

    .table {
        flex-basis: 70%;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        color: #343a40;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
    }

    .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
        color: #343a40;
        text-align: center;
    }

    .treeLabel {
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 6px;
        cursor: pointer;
        color: #343a40;
        background-color: transparent;
        transition: background-color 0.3s ease;
    }

    .treeLabel:hover {
        background-color: #e9ecef;
    }

    .icon img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .treeItem {
        list-style: none;
        margin-bottom: 5px;
    }

    .treeChildren {
        padding-left: 20px;
    }

    .pagination {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }

    .pagination button {
        padding: 8px 16px;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .pagination button:disabled {
        background-color: #c0c0c0;
        cursor: not-allowed;
    }

    .pagination button:hover:enabled {
        background-color: #0056b3;
    }

    input[type='text'] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 2px solid #ddd;
        border-radius: 6px;
        transition: border-color 0.3s ease;
    }

    input[type='text']:focus {
        border-color: #007bff;
        outline: none;
    }

    input[type='checkbox'] {
        position: relative;
        width: 18px;
        height: 18px;
        margin-right: 10px;
        cursor: pointer;
    }

    input[type='checkbox']::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        border: 2px solid #007bff;
        border-radius: 4px;
    }

    input[type='checkbox']:checked::before {
        background-color: #007bff;
    }

    input[type='checkbox']:checked::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 6px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    .searchInput {
        width: 100%;
        position: relative;
    }

    .searchInput input {
        width: 100%;
        padding: 10px 16px;
        font-size: 16px;
        border: 2px solid #ddd;
        border-radius: 6px;
        transition: border-color 0.3s ease;
    }

    .searchInput input:focus {
        border-color: #007bff;
        outline: none;
    }

    .searchInput::before {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        color: #888;
    }

    .loading, .error {
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
        color: #343a40;
    }

    .assetDetails {
        @include flexAlignment(column, flex-start, flex-start);
        gap: 10px;
        background-color: #f8f9fc;
        padding: 10px;
        border-radius: 6px;
        color: #343a40;

        .detailItem {
            @include flexAlignment(row, center, space-between)
        }
    }

    .imageContainer {
        width: 100%;
        height: auto;
        border-radius: 8px;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .textContainer {
        @include flexAlignment(row, flex-start, flex-start);

       h3{
            color: 'grey';
            opacity: 0.5;
            margin-left: 0.5rem;
       }
    }
    .statusIcon {
        width: 9px;
        height: 9px;
        margin-left: 8px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 10px;

        .tree {
            flex-basis: 100%;
            margin-bottom: 20px;
        }

        .table {
            flex-basis: 100%;
        }

        .title {
            font-size: 20px;
            margin-bottom: 12px;
        }

        .pagination {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .pagination button {
            width: 100%;
        }

        input[type='text'] {
            font-size: 14px;
            padding: 8px;
        }

        .assetDetails {
            padding: 8px;
        }
    }
}
